body {

}

.board {
    display: flex;
    font-family: Arial;
    background-color: silver;
    width: 256px;
    height: 256px;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px; 
    text-align: center;
    vertical-align: central;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-front, .card-back {
    position: absolute;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 32px;
}

.card-front {
    background-color: gray;
    transform: rotateY(180deg);
}

.card-back {
    background-color: hotpink;
    color: hotpink;
    border-color: black;
    border: solid;
    font-size: 0px;
}

