@page "/"

<div class="container">
  <div class="matrix-levels">
    @foreach (var level in Levels)
    {
      if (level.IsEnabled)
      {
        <div class="matrix-cell" @onclick="() => OnLevelSelected(level.Value)">@level.Value</div>
      }
      else
      {
        <div class="matrix-cell matrix-cell-disabled">@level.Value</div>
      }
    }
  </div>
</div>
