@page "/levels"

<div class="container">
  <div class="matrix-levels">
    @foreach (var level in Levels)
    {
      <div class="matrix-cell" @onclick="()=>OnLevelSelected(level.Value)">@level.Value</div>
    }
  </div>
</div>
