
@inject ILocalStorageService localStore

<h3>Level:</h3>
<select @bind="@Level">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>


<h3>Type:</h3>
<select @bind="@CardType">
  <option value="Decimal">0-9</option>
  <option value="Hexadecimal">0-15</option>
  <option value="Alphabet">A-Z</option>
  <option value="Images">Images</option>
  <option value="RelatedImages">Related Images</option>
</select>

<h3>Size:</h3>
<select @bind="@Size">
  <option value="4">4</option>
  <option value="6">6</option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
