@page "/index/{Level:int}"

@if (IsInitialized)
{
  <div class="container">
    <div class="matrix" style="grid-template-columns: repeat(@Columns, @GetCellSize());">
      @foreach (var card in mModel.Cards)
      {
        <div class="matrix-cell @GetCssClass(card)" @onclick="() => OnClick(card)">@GetContent(card)</div>
      }
    </div>
  </div>
}