@page "/"

<div class="container">
  <div class="matrix-levels">
    @foreach (var level in Levels)
    {
      if (level.IsEnabled)
      {
        <div class="matrix-cell" @onclick="() => OnLevelSelected(level.Value)">
          <div style="text-align:center">
            @level.Value 
            <br> 
            <span style="color:gray;font-size:15px;">@level.HighScore</span>
            
          </div>
        </div>
      }
      else
      {
        <div class="matrix-cell matrix-cell-disabled">@level.Value</div>
      }
    }
  </div>
</div>
