@inherits LayoutComponentBase
<PageTitle>Memory Game</PageTitle>

<div class="appbar">
  <div class="appbar-left">Memory Game</div>
  <div class="appbar-middle">@Title</div>
  <div class="appbar-right">
    <a href="./"><div class="settings" /></a>
  </div>
</div>
@Body