@inherits LayoutComponentBase
<PageTitle>Memory Game</PageTitle>

<div class="appbar">
  <div class="appbar-left"><a href="\">home</a></div>
  <div class="appbar-middle">Memory Game</div>
  <div class="appbar-right"><a href="\levels">Settings</a></div>
</div>
@Body