@inherits LayoutComponentBase
<PageTitle>Memory Game</PageTitle>

<div class="appbar">
  <div class="appbar-left"><a href="/">Home</a></div>
  <div class="appbar-middle">@Title</div>
  <div class="appbar-right"><a href="/">Levels</a></div>
</div>
@Body